@import url('https://fonts.googleapis.com/css?family=Inconsolata|Tenali+Ramakrishna');
@import 'reset';
$font-fancy: 'Tenali Ramakrishna', sans-serif;
$font-normal: 'Inconsolata', monospace;

/***
Coloors
***/
$white: #FCFCFC;
$dark-purple: #190019;
$base-red: rgb(250,152,77);;
$base-purple: #810080;
$apricot: #F9D5B8;

$min-width: 720px;
$skew: 25deg;
$radius: 8px;