//antialiasing
@mixin smooth-fonts {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//border radius
@mixin border-radius($radius: .25em) {
  border-radius: $radius;
}

//gradient
@mixin peachy-gradient() {
  background: rgba(250,152,77,1);
  background: -webkit-linear-gradient(top, rgba(250,152,77,1) 0%, rgba(230,52,39,1) 100%);
  background: linear-gradient(to bottom, rgba(250,152,77,1) 0%, rgba(230,52,39,1) 100%);
}

//center absolutely positioned elements ve/ho
@mixin absoluteCenter($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

//flex center
@mixin center-f {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***
Shapes mixins
***/

@mixin diamond($size:20px,$color:red) {
  width: 0;
  height: 0;
  border: $size solid transparent;
  border-bottom-color: $color;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -$size;
    top: $size;
    width: 0;
    height: 0;
    border: $size solid transparent;
    border-top-color: $color;
  }
}

@mixin triangle($point-dir:up, $size:30px, $color:yellow) {
  width: 0;
  height: 0;

  @if $point-dir == up {
    border-bottom: $size*1.732 solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  }
  @else if $point-dir == down {
    border-top: $size*1.732 solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  }
  @else if $point-dir == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size*1.732 solid $color;
  }
  @else if $point-dir == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size*1.732 solid $color;
  }
}

/***
material design box-shadow
***/

@mixin material-shadow($elevation) {

  @if $elevation == 0 {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  }
  @else if $elevation == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  }
  @else if $elevation == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .23);
  }
  @else if $elevation == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 6px 6px rgba(0, 0, 0, .23);
  }
  @else if $elevation == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .12), 0 10px 10px rgba(0, 0, 0, .22);
  }
  @else if $elevation == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, .12), 0 15px 12px rgba(0, 0, 0, .22);
  }

}