@import 'config';
@import 'mixins';
@import 'layout';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  z-index: -2;
}

body {
  height: 100%;
  width: 100%;
  font: {
    size: 1.6rem;
    family: $font-normal;
  }
  color: $dark-purple;
  background-color: $white;
  z-index: -2;
}

section, footer, header, main {
  display: block;
}

#main-content {
  width: 100%;
  height: 100vh;
  margin-bottom: calc(30px + 1em);
  z-index: 2;

  background: $apricot;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-fancy;
  padding: 0.5em 0;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.125em; }

a {
  text-decoration: none;
  color: $dark-purple;
  &:hover {
    text-decoration: underline;
  }
}

//*********************************************************

/***
Nav
***/
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  z-index: 3;
  background-color: #FFF;
  text-align: center;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  ul li {
    background-color: #FFF;
    float: left;
    font-size: 1em;
    font-weight: bold;
    color: $base-red;
    transition: all .3s linear;

    &:hover {
      background: lighten($apricot, 2%);
      color: $base-red;

    }
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .7em .4em;
  }

  @include breakpoint(S) {
    margin-top: 18px;
    background-color: transparent;

    ul {
      transform: skew(-$skew);

      li {
        &:first-child {
          padding-left: .4em;
          border-radius: $radius 0 0 $radius;
        }

        &:last-child {
          padding-right: .4em;
          border-radius: 0 $radius $radius 0;
        }
      }
    }



    a {
      transform: skew($skew);
    }
  }
}

/***
Content styling
***/
//TODO fix jumping content
.card {
  position: absolute;
  width: 100%;
  padding-top: 10vh;

  height: 100vh;
  text-align: center;
  font-family: $font-normal;
  color: #FFF;
  @include peachy-gradient;
  z-index: 2;

  .card-body {
    text-align: center;
    transform: translateY(50%);
    font-size: 1.4em;
    margin: 0;
    padding: 0 .5em;

    #quote-text {
      min-height: 130px;
      padding: 1em 2em 0;
    }

    #quote-author {
      display: inline-block;
      width: 100%;
      text-align: right;
      font-style: italic;

      padding: 1em .5em;
    }
  }

  @include breakpoint(S) {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $radius;
    width: 90%;
    height: auto;
    -webkit-box-shadow: 0 18px 106px 0 rgba(204,98,22,1);
    -moz-box-shadow: 0 18px 106px 0 rgba(204,98,22,1);
    box-shadow: 0 18px 106px 0 rgba(204,98,22,1);
  }
  @include breakpoint(M) {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $radius;
    width: 90%;
    height: auto;
    -webkit-box-shadow: 0 18px 106px 0 rgba(204,98,22,1);
    -moz-box-shadow: 0 18px 106px 0 rgba(204,98,22,1);
    box-shadow: 0 18px 106px 0 rgba(204,98,22,1);

    .card-body {
      transform: translateY(0%);
    }
  }
}


/***
Buttons
****/

.btn-group {
  padding: .5em 0;
  display: inline-block;
  text-align: center;
  .btn {
    display: block;
    margin: 1em;
    float: left;

    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;

    border-radius: 50%;
    background: rgba(0,0,0, .1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;

    &:hover {
      border-radius: 30%;
      background: rgba(255,255,255, .3);
      transition: all .5s linear;
    }
  }
  #btn-next {
    vertical-align: top;
  }
}

/***
Footer
**/
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  color: $dark-purple;
  z-index: -1;
  padding: .5em 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
}