@import url("https://fonts.googleapis.com/css?family=Inconsolata|Tenali+Ramakrishna");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***
Coloors
***/
/***
Shapes mixins
***/
/***
material design box-shadow
***/
.g-wrapper {
  display: flex;
  flex-flow: row wrap; }

.g-item {
  padding: .5rem; }

.grid--XS-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XS-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XS-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-3 {
      flex: 0 0 25%; } }

.grid--XS-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XS-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XS-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-6 {
      flex: 0 0 50%; } }

.grid--XS-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XS-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XS-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-9 {
      flex: 0 0 75%; } }

.grid--XS-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XS-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XS-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 30rem) {
    .grid--XS-cols-12 {
      flex: 0 0 100%; } }

.grid--S-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--S-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--S-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-3 {
      flex: 0 0 25%; } }

.grid--S-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--S-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--S-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-6 {
      flex: 0 0 50%; } }

.grid--S-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--S-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--S-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-9 {
      flex: 0 0 75%; } }

.grid--S-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--S-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--S-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 48rem) {
    .grid--S-cols-12 {
      flex: 0 0 100%; } }

.grid--M-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--M-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--M-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-3 {
      flex: 0 0 25%; } }

.grid--M-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--M-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--M-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-6 {
      flex: 0 0 50%; } }

.grid--M-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--M-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--M-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-9 {
      flex: 0 0 75%; } }

.grid--M-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--M-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--M-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 72rem) {
    .grid--M-cols-12 {
      flex: 0 0 100%; } }

.grid--L-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--L-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--L-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-3 {
      flex: 0 0 25%; } }

.grid--L-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--L-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--L-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-6 {
      flex: 0 0 50%; } }

.grid--L-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--L-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--L-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-9 {
      flex: 0 0 75%; } }

.grid--L-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--L-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--L-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 96rem) {
    .grid--L-cols-12 {
      flex: 0 0 100%; } }

.grid--XL-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XL-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XL-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-3 {
      flex: 0 0 25%; } }

.grid--XL-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XL-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XL-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-6 {
      flex: 0 0 50%; } }

.grid--XL-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XL-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XL-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-9 {
      flex: 0 0 75%; } }

.grid--XL-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XL-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XL-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 102rem) {
    .grid--XL-cols-12 {
      flex: 0 0 100%; } }

.grid--XX-cols-1 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-1 {
      flex: 0 0 8.33333%; } }

.grid--XX-cols-2 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-2 {
      flex: 0 0 16.66667%; } }

.grid--XX-cols-3 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-3 {
      flex: 0 0 25%; } }

.grid--XX-cols-4 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-4 {
      flex: 0 0 33.33333%; } }

.grid--XX-cols-5 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-5 {
      flex: 0 0 41.66667%; } }

.grid--XX-cols-6 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-6 {
      flex: 0 0 50%; } }

.grid--XX-cols-7 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-7 {
      flex: 0 0 58.33333%; } }

.grid--XX-cols-8 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-8 {
      flex: 0 0 66.66667%; } }

.grid--XX-cols-9 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-9 {
      flex: 0 0 75%; } }

.grid--XX-cols-10 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-10 {
      flex: 0 0 83.33333%; } }

.grid--XX-cols-11 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-11 {
      flex: 0 0 91.66667%; } }

.grid--XX-cols-12 {
  flex: 0 0 100%; }
  @media only screen and (min-width: 120rem) {
    .grid--XX-cols-12 {
      flex: 0 0 100%; } }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  z-index: -2; }

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-family: "Inconsolata", monospace;
  color: #190019;
  background-color: #FCFCFC;
  z-index: -2; }

section, footer, header, main {
  display: block; }

#main-content {
  width: 100%;
  height: 100vh;
  margin-bottom: calc(30px + 1em);
  z-index: 2;
  background: #F9D5B8; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0.5em 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.125em; }

a {
  text-decoration: none;
  color: #190019; }
  a:hover {
    text-decoration: underline; }

/***
Nav
***/
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #FFF;
  text-align: center; }
  nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
  nav ul li {
    background-color: #FFF;
    float: left;
    font-size: 1em;
    font-weight: bold;
    color: #fa984d;
    transition: all .3s linear; }
    nav ul li:hover {
      background: #fadbc1;
      color: #fa984d; }
  nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .7em .4em; }
  @media only screen and (min-width: 48rem) {
    nav {
      margin-top: 18px;
      background-color: transparent; }
      nav ul {
        transform: skew(-25deg); }
        nav ul li:first-child {
          padding-left: .4em;
          border-radius: 8px 0 0 8px; }
        nav ul li:last-child {
          padding-right: .4em;
          border-radius: 0 8px 8px 0; }
      nav a {
        transform: skew(25deg); } }

/***
Content styling
***/
.card {
  position: absolute;
  width: 100%;
  padding-top: 10vh;
  height: 100vh;
  text-align: center;
  font-family: "Inconsolata", monospace;
  color: #FFF;
  background: #fa984d;
  background: -webkit-linear-gradient(top, #fa984d 0%, #e63427 100%);
  background: linear-gradient(to bottom, #fa984d 0%, #e63427 100%);
  z-index: 2; }
  .card .card-body {
    text-align: center;
    transform: translateY(50%);
    font-size: 1.4em;
    margin: 0;
    padding: 0 .5em; }
    .card .card-body #quote-text {
      min-height: 130px;
      padding: 1em 2em 0; }
    .card .card-body #quote-author {
      display: inline-block;
      width: 100%;
      text-align: right;
      font-style: italic;
      padding: 1em .5em; }
  @media only screen and (min-width: 48rem) {
    .card {
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 8px;
      width: 90%;
      height: auto;
      -webkit-box-shadow: 0 18px 106px 0 #cc6216;
      -moz-box-shadow: 0 18px 106px 0 #cc6216;
      box-shadow: 0 18px 106px 0 #cc6216; } }
  @media only screen and (min-width: 72rem) {
    .card {
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 8px;
      width: 90%;
      height: auto;
      -webkit-box-shadow: 0 18px 106px 0 #cc6216;
      -moz-box-shadow: 0 18px 106px 0 #cc6216;
      box-shadow: 0 18px 106px 0 #cc6216; }
      .card .card-body {
        transform: translateY(0%); } }

/***
Buttons
****/
.btn-group {
  padding: .5em 0;
  display: inline-block;
  text-align: center; }
  .btn-group .btn {
    display: block;
    margin: 1em;
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer; }
    .btn-group .btn:hover {
      border-radius: 30%;
      background: rgba(255, 255, 255, 0.3);
      transition: all .5s linear; }
  .btn-group #btn-next {
    vertical-align: top; }

/***
Footer
**/
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  color: #190019;
  z-index: -1;
  padding: .5em 0; }

.hide {
  visibility: hidden;
  opacity: 0; }
